<!-- This is where the base layer of the site will be, the components will be
inserted into this file using their directives specified in their .ts file
as the 'selector' -->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand nav-text" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <login-buttons class="pull-right"></login-buttons>
  </div>
</nav>

<div class="sidebg">
</div>

  <div class="wrapper">

    <!-- show is a variable saying what will show depending on what number is clicked
    each button has a number assigned to it and each button is assigned to a component -->

    <nav class="col-sm-3 col-md-2 sidebar">

      <a class="nav-link active" href="#" (click)="show = 1">Degree Evaluation </a>
      <a class="nav-link active" href="#" (click)="show = 2">MyMap</a>
      <a class="nav-link active" href="#" (click)="show = 3">Major Classes</a>
      <a class="nav-link active" href="#" (click)="show = 4">SDSU Catalog</a>

    </nav>

  <div class="content">
    <div *ngIf="show == 1">
      <req-list></req-list> 
    </div>
    <div *ngIf="show == 2">
      <sem-list><sem-list>
      </div>
      <div *ngIf="show == 3">
        <maj-classes></maj-classes>
      </div>
      <div *ngIf="show == 4">
        <sdsu-cat></sdsu-cat>
      </div>
    </div>
  </div>



<!--<div>
  <router-outlet></router-outlet>
</div> -->
