
<div class="col-md-6">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">

        <!-- Progress Bar -->
        <div class="progress no-margin">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 77.5%" style="min-width: 2em;">
            77.5% Units Completed Out of 120
          </div>
        </div> <!-- End Progress Bar -->

        <!-- foreach requirement from the requirements in the controller -->
          <div class="panel panel-default" ng-repeat="req in $ctrl.reqs">
            <!-- Produce the initially visible part with the requirement text -->
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <!-- if / else for the complete/incomlete -->
              <span ng-if="req.status == 'complete'" class="glyphicon glyphicon-check text-success" title="Delete Class"></span>
              <!-- else -->
              <span ng-if="req.status == 'incomplete'" class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
              <!-- endif -->
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}">
                {{req.text}}
              </a>
              </h4>
            </div>
            <!-- Produce the hidden part that will expando out when clicked. -->
            <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <!-- if / else for the complete/incomlete -->
              <div ng-if="req.status == 'complete'" class="panel-body">
                <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span> You have completed this requirement.
              </div>
              <!-- else case -->
              <div ng-if="req.status == 'incomplete'"  class="panel-body">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                <div class="input-group" style="padding-top: 10px;">
                  <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">+</button>
                  </span>
                </div>
              </div>
              <!-- endif -->
            </div>
          </div>
          <!-- end foreach -->

    </div> <!-- End panel group -->

</div> <!-- End col -->
