<div class="container">
  <div class="row-content">
    <div class="col-lg-8">
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">MAJOR CLASSES</li>
          <li class="list-group-item">Class1</li>
          <li class="list-group-item">Pre-Req</li>
          <li class="list-group-item disabled">Next Class</li>
          <li class="list-group-item">Pre-Req</li>
          <li class="list-group-item disabled">Next Class</li>
          <li class="list-group-item">Class1</li>
          <li class="list-group-item">Class2</li>
          <li class="list-group-item">Pre-Req</li>
          <li class="list-group-item disabled">Next Class</li>
          <li class="list-group-item">Class5</li>
          <li class="list-group-item">Pre-Req</li>
          <li class="list-group-item disabled">Next Class</li>
          <li class="list-group-item">Pre-Req</li>
          <li class="list-group-item disabled">Next Class</li>
        </ul>
      </div>
    </div>
  </div>
</div>
