<!-- template for todosList LIST -->
<!-- HTML codes in Meteor define templates
Meteor parses all of the regular .HTML files in your app
folder and identifies three top-level tags:
<head> added to head section
<body> added to body section
<template> -->
<header>
  <h3>Title on webpage</h3>

</header>

<ul>
  <todos-list></todos-list>
  <todos-list></todos-list>
  <todos-list></todos-list>
</ul

<form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)">
  <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
</form>

</header>

<ul>
  <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked}">
    <button class="delete" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>
    <span class="text">
    {{task.text}}
  </span>
  </li>
</ul>
<!-- end template for todosList LIST -->
