<button type="button" class="list-group-item" data-toggle="modal" data-target="#addClass">
  Add a Class...<span class="glyphicon glyphicon-plus text-danger pull-right"></span>
</button>
<div id="addClass" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Classes to Fall 2016 Semester</h4>
      </div>
      <div class="modal-body">
      <!-- 
      | CURRENT PROBLEM |
      Trying to filter the table below calling a filterClasses() function when the keyup event happens, using 'ng-keyup' on the <input> which is not working.
      
      | PROBLEM I POSTED ON SLACK |
      In addition, with the {{class.text}} problem I was having, I was doing an 'ng-repeat' on the table whcih I used, ng-repeat="class in $ctrl.classes". Then in the table row I had {{class.text}}. Now, go to addClass.js.
      -->
        <div class="input-group">
          <input type="text" id="searchForClasses" class="form-control" ng-keyup="filterClasses()" placeholder="Search for Classes to Add..." aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2"><span class=" glyphicon glyphicon-search"></span></span>
        </div>
        <table id="classes" class="table table-hover">
          <tr>
            <td><span class="badge pull-left">3</span>&nbsp; Data Structures</td>
            <td>CS-310</td>
            <td>Teacher</td>
          </tr>
          <tr>
            <td><span class="badge pull-left">3</span>&nbsp; Ethics</td>
            <td>CS-440</td>
            <td>Teacher</td>
          </tr>
          <tr>
            <td><span class="badge pull-left">3</span>&nbsp; Programming</td>
            <td>CS-320</td>
            <td>Teacher</td>
          </tr>
        </table>
      </div>


      <div class="modal-footer">
        <div class="list-group">
          <h4 class="text-left">Classes in queue.</h4>
          <div class="list-group-item text-left">
            <tr>
              <td><span class="badge pull-left">3</span>&nbsp; Data Structures</td>
              <td>CS-310</td>
              <td>Edwards <span class="glyphicon glyphicon-remove text-danger pull-right" style="padding-top: 2px; !important;" title="Delete Class"></span></td>
            </tr>
          </div>
          <div class="list-group-item text-left">
            <tr>
              <td><span class="badge pull-left">3</span>&nbsp; Data Structures</td>
              <td>CS-310</td>
              <td>Edwards <span class="glyphicon glyphicon-remove text-danger pull-right" style="padding-top: 2px; !important;" title="Delete Class"></span></td>
            </tr>
          </div>
          <div class="list-group-item text-left">
            <tr>
              <td><span class="badge pull-left">3</span>&nbsp; Data Structures</td>
              <td>CS-310</td>
              <td>Edwards <span class="glyphicon glyphicon-remove text-danger pull-right" style="padding-top: 2px; !important;" title="Delete Class"></span></td>
            </tr>
          </div>
        </div>
        <!-- Add EventListener to this upon modal loading I guess. -->
        <button type="button" id="addClasses" class="btn btn-default btn-danger" data-dismiss="modal">Add Classes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
