/* All dropdown-menu li hover/focus */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #AE2133 !important;
  text-decoration: none;
  background-color: #f5f5f5;
}

/* All navbar-brands */
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #AE2133 !important;
}

.navbar-brand {
	padding: 0px !important;
	height: 80px !important;
}

.navbar-brand > img {
	height: 100%;
	padding: 15px 20px 15px 15px;
}

.nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/* navbar-inverse links */
.navbar .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #AE2133 !important;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

/* panel heading */
.panel-default > .panel-heading {
  color: #fff !important;
  background-color: #222 !important;
  border-color: #ddd;
}

/* list-group item */
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #f5f5f5 !important;
  border: 1px solid #ddd;
}

.text-light-black {
  color: #222;
}
